input {
	font-family: inherit;
	font-size: 16px;
	color: var(--color-white);
	background-color: var(--color-darkGray);
	padding: 8px;
	border: 0;
}

button {
	font-size: 16px;
	text-align: left;
	color: var(--color-white);
	background-color: transparent;
	padding: 0;
	border: 0;
	appearance: none;
}
button.iconBtn {
	width: 40px;
	height: 40px;
	border: 1px solid transparent;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: var(--transition);
}
button.iconBtn:hover,
button.iconBtn:focus {
	border-color: var(--color-white);
}
button.iconBtn svg {
	width: 50%;
}