html {
	--color-success: hsl(136, 80%, 44%);
	--color-white: hsl(0, 0%, 100%);
	--color-darkGray: hsl(0, 0%, 20%);
	--color-black: hsl(228, 9%, 11%);

	--transition: all .2s ease-in-out;

	font-family: sans-serif;
}
html, html * {
	box-sizing: border-box;
}