.codeeditor {
	--font-size: 16px;
	--color-lightblue: hsl(208, 100%, 87%);
	--color-blue: hsl(221, 100%, 67%);
	--color-darkblue: hsl(216, 74%, 53%);
	--color-cyan: hsl(177, 56%, 54%);
	--color-green: hsl(140, 100%, 83%);
	--color-lightorange: hsl(49, 78%, 65%);
	--color-orange: hsl(24, 77%, 60%);
	--color-purple: hsl(271, 100%, 76%);
	--color-yellow: hsl(64, 81%, 79%);
	--color-white: hsl(0, 0%, 100%);
	--color-white-transparent: hsla(0, 0%, 100%, .5);
	--color-gray: hsl(0, 0%, 50%);
	--color-background: hsl(228, 9%, 11%);
	--height: 50vh;
	--metaHeight: 30px;

	font-size: var(--font-size);
	color: var(--color-white);
	background-color: var(--color-background);
	height: var(--height);
	display: flex;
	flex-direction: column;
}
.codeeditor,
.codeeditor * {
	outline-color: var(--color-darkblue);
	box-sizing: border-box;
}
.codeeditor__content {
	font-family: monospace;
	max-height: calc(100% - var(--metaHeight));
	flex: 1;
	display: flex;
}
.codeeditor__meta {
	font-family: sans-serif;
	font-size: 13px;
	background-color: var(--color-darkblue);
	height: var(--metaHeight);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.codeeditor__meta > * {
	margin: 0 7px;
}
.codeeditor__content__rows {
	text-align: right;
	max-height: calc(var(--height) - var(--metaHeight));
	border-right: 1px solid var(--color-darkblue);
	overflow: hidden;
	opacity: .5;
}
.codeeditor__content__main {
	flex: 1;
	position: relative;
	overflow: hidden;
}
.codeeditor__content__main__writer,
.codeeditor__content__main__pretty,
.codeeditor__content__testletter {
	font-family: inherit;
	font-size: inherit;
	line-height: 1.2;
}
.codeeditor__content__rows,
.codeeditor__content__main__writer,
.codeeditor__content__main__pretty {
	padding: 10px;
}
.codeeditor__content__main__writer,
.codeeditor__content__main__pretty {
	border: 0;
}
.codeeditor__content__main__writer {
	color: inherit;
	/* -webkit-text-fill-color: transparent; */ /* todo: comment in when done testing */
	background-color: inherit;
	width: 100%;
	height: 100%;
	resize: none;
}
.codeeditor__content__main__writer::-webkit-input-placeholder {
	-webkit-text-fill-color: var(--color-white-transparent);
}
.codeeditor__content__main__pretty {
	/* white-space: pre; */
	white-space: pre-wrap;
    word-break: break-word;
	color: var(--color-lightblue);
	/* background-color: var(--color-primary); */
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	/* opacity: .4; */
	pointer-events: none;
}
.codeeditor__content__testletter {
	position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}
.codeeditor select {
	font-size: inherit;
}
.codeeditor .c--blue {
	color: var(--color-blue);
}
.codeeditor .c--cyan {
	color: var(--color-cyan);
}
.codeeditor .c--gray {
	color: var(--color-gray);
}
.codeeditor .c--green {
	color: var(--color-green);
}
.codeeditor .c--lightorange {
	color: var(--color-lightorange);
}
.codeeditor .c--orange {
	color: var(--color-orange);
}
.codeeditor .c--purple {
	color: var(--color-purple);
}
.codeeditor .c--white {
	color: var(--color-white);
}
.codeeditor .c--yellow {
	color: var(--color-yellow);
}