/* grid */
/* .playground {
	--color-primary: hsl(327, 67%, 22%);
	--color-white: hsl(0, 0%, 100%);
	--color-darkGray: hsl(0, 0%, 20%);
	--color-black: hsl(228, 9%, 11%);

	--metaHeight: 60px;

	height: 100vh;
	display: grid;
	grid-template: var(--metaHeight) repeat(3, 1fr) / auto 1fr;
}
.playground__meta {
	color: var(--color-white);
	background-color: var(--color-black);
	border-bottom: 10px solid var(--color-darkGray);
	grid-row: 1 / 2;
	grid-column: 1 / 3;
}
.playground__preview {
	height: calc(100vh - var(--metaHeight));
	border-left: 10px solid var(--color-darkGray);
	grid-row: 2 / 5;
	grid-column: 2 / 3;
}
.playground__preview iframe {
	height: 100%;
	width: 100%;
	border: 0;
}
.playground .codeeditor {
	height: initial;
	grid-column: 1 / 2;
    overflow: hidden;
	resize: both;
} */

/* flexbox */
.playground {
	--metaHeight: 70px;

	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.playground__meta {
	color: var(--color-white);
	background-color: var(--color-black);
	min-height: var(--metaHeight);
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 10px solid var(--color-darkGray);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.playground__meta__share {
	display: flex;
	align-items: center;
}
.playground__meta__share > * {
	margin-right: 5px;
}

.playground__main {
	flex: 1;
	display: flex;
}
.playground__main__editors {
	background-color: var(--color-black);
	max-height: calc(100vh - var(--metaHeight));
	display: flex;
	flex-direction: column;
}
.playground__main__preview {
	border-left: 10px solid var(--color-darkGray);
	flex: 1;
}
.playground__main__preview iframe {
	height: 100%;
	width: 100%;
	border: 0;
}

.playground .codeeditor {
	height: 33.3333%;
	/* flex: 1;
	min-width: 0;
    min-height: 0; */
}
.playground .codeeditor:last-of-type {
	resize: none;
}
.playground .codeeditor:last-of-type:after {
	content: none;
}
.playground__message {
	color: var(--color-white);
	background-color: var(--color-black);
	padding: 16px 20px;
	max-width: 80%;
	border: 1px solid var(--color-white);
	filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, .4));
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
	animation: fadeIn .2s ease-in-out;
}
.playground__message__close {
	background-color: inherit;
	width: 40px;
	height: 40px;
	border: inherit;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -20px;
	right: -20px;
}
.playground__message__close svg {
	width: 40%;
}